.faceContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--black);
}



.faceRecognitionContainer{
  position: relative;
  margin: 10px 0 50px;
}


.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #fff inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}

#inputImage{
  height: auto;
  width: 390px;
  border-radius: 10px;
}

.faceCounter{
  color: #fff;
  margin-bottom: 20px;
}

@media (min-width: 820px){
  #inputImage{
    width: 500px;
  }
}

