header{
  display: flex;
  text-align: center;
  background-color: var(--white);
  height: 5rem;
}

.headerLogo{
  font-family: 'Lato', sans-serif;
  width: 20%;
  color: var(--blue);
  margin: auto;
}

.headerHyperlinks{
  width: 80%;
  font-weight: 600;
  font-size: smaller;
  margin: auto;
}
.headerHyperlinks > a{
  margin: 2rem;
}

.headerButton{
  width: 20%;
  margin: auto;
}

.signInButton{
  font-family: 'Mulish',  sans-serif;
  background-color: var(--blue);
  color: var(--white);
  width: 5.5rem;
  height: 2.75rem;
  border: 0;
}