.submitContainer{
  display: flex;
  align-items: center;
  background-color: var(--darkgrey);
  justify-content: center;
  height: 50vh;
  width: 80vh;
}

.submitInput{
  margin: auto 1rem;
  border: 0;
  padding: 1.1rem 3rem 1.1rem;
  font-family: 'Mulish', sans-serif;
  outline-width: 0;  
}

/* image */

.faceImageContainer{
  display: flex;
  align-items: center;
  background-color: var(--darkgrey);
  justify-content: center;
  height: 50vh;
  width: 80vh;
}

.faceImage{
  max-width: 100%;
  max-height: 100%;
}

/* face box */

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #fff inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
}