.submitContainer{
  display: flex;
  justify-content: center;
  position: absolute;
  left: 10px;
}

.submitContent{
  display: flex;
  justify-content: center;
  background-color:var(--lightgrey);
}

.submitInput{
  margin: auto 1rem;
  border: 0;
  padding: 1.1rem 3rem 1.1rem;
  font-family: 'Mulish', sans-serif;
  outline-width: 0; 
}
