.titleHeader{
  position: relative;
  height: 10%;
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
}

#logo{
  width: auto;
  height: 50px;
  margin-right: 10px;
}