.titleContainer{
  display: flex;
  justify-content: center;
  background-color: var(--black);
  height: 90%;
  padding: 10px 40px 0px 40px; 
  width: 100%;
}

.titleContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.1rem 3rem 1.1rem;
  max-width: 100%;
}

.titleContent > h1{
  margin: 10px 0 40px 0;
  color: var(--white);
}

.titleContent > h3 {
  color: var(--white);
}

.submitContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  max-width: 100%;
}

.submitContainer > button {
  background-color: var(--black);
  border-style: solid;
  border-width: 1px;
  border-color: var(--white);
  border-radius: 5px;
  padding: 10px;
}

.submitInput {
  margin: auto 1rem;
  border: 0;
  padding: 1.1rem 3rem 1.1rem;
  font-family: 'Mulish', sans-serif;
  outline-width: 0;
  border-radius: 5px;
  width: 40vh;
  text-align: center;
}

@media (max-width: 1000px) {
  .titleContainer{
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  
  .submitContent{
    flex-direction: column;
  }
  
  .submitContent > button{
    margin-top: 30px;
  }
}
