.titleContainer{
  display: flex;
  justify-content: center;
  background-color: var(--black);
  height: inherit;
  padding: 10px 40px 20px 40px; 
  width: 40%;
}

.titleContent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.1rem 3rem 1.1rem;
  width: 80vh;
}

.titleContent > h1{
  margin: 10px 0 40px 0;
  color: var(--white);
}

.titleContent > h3 {
  color: var(--white);
}

.titleContent > button{
  align-self: center;
}